<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <link rel="stylesheet" href="icon/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="!test_menu/style.css">-->
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header_1">
            <div class="brand">
                <a href="/?">
                    <img src="img/header_logo.png" alt="header_logo">
                </a>
                <h2>bran<span class="brand_h2">d</span></h2></div>
            <nav>
                <ul class="header_1_browse">
                    <li>Browse
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <ul class="header_1_browse_sub">
                            <li>women</li>
                            <li class="header_1_browse_sub_border">
                                <ul class="header_1_browse_sub_women">
                                    <li><a href="#">Dresses</a></li>
                                    <li><a href="#">Tops</a></li>
                                    <li><a href="#">Sweaters/Knits</a></li>
                                    <li><a href="#">Jackets/Coats</a></li>
                                    <li><a href="#">Blazers</a></li>
                                    <li><a href="#">Denim</a></li>
                                    <li><a href="#">Leggings/Pants</a></li>
                                    <li><a href="#">Skirts/Shorts</a></li>
                                    <li><a href="#">Accessories </a></li>
                                </ul>
                            </li>
                            <li>man</li>
                            <li class="header_1_browse_sub_border">
                                <ul class="header_1_browse_sub_men">
                                    <li><a href="#">Tees/Tank tops</a></li>
                                    <li><a href="#">Shirts/Polos</a></li>
                                    <li><a href="#">Sweaters</a></li>
                                    <li><a href="#">Sweatshirts/Hoodies</a></li>
                                    <li><a href="#">Blazers</a></li>
                                    <li><a href="#">Jackets/vests</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <form action="#" class="header_1_search">
                <input type="search" placeholder="Search for Item..." class="test">
                <button class="fa fa-search header_1_search_button"></button>
            </form>


            <div class="header_1_buy">
                <a href="/?c=product&a=cart">
                    <img src="img/header_buy.svg" alt="header_buy"">
                </a>

                <!--                <div id="numberGoods"></div>-->
                <!--                <div class="header_1_basket">-->
                <!--<!--                    <h3>Корзина пуста</h3>-->
                <!--                </div>-->
            </div>


            <div class="header_1_account">
<!--                --><?php //include '../templates/login.php' ?>
                <!--                <button class="header_1_account_button">My Account</button>-->
                <!--                <ul class="header_1_account_submenu">-->
                <!--                    <li><a href="#">Вход</a></li>-->
                <!--                    <li><a href="reg.html">Регистрация</a></li>-->
                <!--                </ul>-->
            </div>

            <div class="header_1_account_mob">
                <a href="#"><img src="img/media_640px/640px_header_1_account.png" alt="My Account"></a>
            </div>
        </div>
        <div class="header_2"></div>
        <section class="navigation">
            <ul class="header__navigation" id="header__navigation">
            </ul>
        </section>


        <div class="header_3">
            <h2>New Arrivals</h2>
            <nav>
                <ul class="header_3_breadcrumbs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Man</a></li>
                    <li><a href="#" class="header_3_breadcrumbs_active">New Arrivals</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

        <?= $content ?>
        {#{% content %}#}


        <section class="last_slider">
            <div class="last_slider_otziv">
                <img src="img/last_slider_photo.png" alt="photo">
                <div class="last_slider_text">
                    <p class="last_slider_text_info">“Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                        a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                    <p class="last_slider_text_name">Bin Burhan</p>
                    <p class="last_slider_text__country">Dhaka, Bd</p>
                    <div class="last_slider_switch">
                        <a href="#" class="last_slider_switch1"></a>
                        <a href="#" class="last_slider_switch2 last_slider_switch_active"></a>
                        <a href="#" class="last_slider_switch3"></a>
                    </div>
                </div>
            </div>
            <div class="last_slider_shape"></div>
            <div class="last_slider_subscribe">
                <h2>Subscribe</h2>
                <h3>FOR OUR NEWLETTER AND PROMOTION</h3>
                <form action="#" class="last_slider_input">
                    <input placeholder="Enter Your Email">
                    <button class="last_slider_input_button">Subscribe</button>
                </form>
            </div>
        </section>
        <section class="last_slider_mob">
            <div class="last_slider_mob_brand">
                <a href="#"><img src="img/media_640px/640px_last_slider_brand1.jpg" alt="brabd1"></a>
                <a href="#"><img src="img/media_640px/640px_last_slider_brand2.jpg" alt="brabd2"></a>
                <a href="#"><img src="img/media_640px/640px_last_slider_brand3.jpg" alt="brabd3"></a>
                <a href="#"><img src="img/media_640px/640px_last_slider_brand4.jpg" alt="brabd4"></a>
            </div>
            <div class="last_slider_shape"></div>
            <div class="last_slider_subscribe_mob">
                <h2>Subscribe</h2>
                <h3>FOR OUR NEWLETTER AND PROMOTION</h3>
                <form action="#" class="last_slider_input">
                    <input placeholder="Enter Your Email">
                    <button class="last_slider_input_button">Subscribe</button>
                </form>
            </div>
        </section>
    </main>
</div>
<footer class="footer">
    <div class="footer_1">
        <div class="footer_1_brand">
            <div class="brand">
                <a href="/?">
                    <img src="img/header_logo.png" alt="header_logo">
                </a>
                <h2>bran
                    <span class="brand_h2">d</span>
                </h2>
            </div>
            <div class="footer_1_block_text">
                <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally
                    syndicate
                    multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of
                    processes
                    and
                    cross-unit partnerships.</p>
                <p>Efficiently plagiarize 24/365 action items and focused infomediaries.
                    Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
                <!--  <p>Objectively strategize seamless relationships via resource sucking testing procedures. Proactively
                    cultivate
                    next-generation results for value-added methodologies. Dynamically plagiarize unique methodologies after
                    performance based methodologies. Monotonectally empower stand-alone mindshare rather than ubiquitous
                    opportunities. Dynamically orchestrate resource sucking scenarios after alternative synergy.</p>
                <p>Compellingly envisioneer corporate methods of empowerment before standards compliant technologies.
                    Objectively
                    facilitate progressive.</p> -->
            </div>
        </div>
    </div>
    <div class="footer_1_navi">
        <div class="footer_1_company">
            <h2>COMPANY</h2>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer_1_information">
            <h2>INFORMATION</h2>
            <nav>
                <ul>
                    <li><a href="#">Tearms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">How to Buy</a></li>
                    <li><a href="#">How to Sell</a></li>
                    <li><a href="#">Promotion</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer_1_shop_category">
            <h2>SHOP CATEGORY</h2>
            <nav>
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Child</a></li>
                    <li><a href="#">Apparel</a></li>
                    <li><a href="#">Brows All</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer_2">
        <p>&copy; 2017 Brand All Rights Reserved.</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter "></a>
        <a href="#" class="fa fa-linkedin "></a>
        <a href="#" class="fa fa-pinterest-p"></a>
        <a href="#" class="fa fa-google-plus"></a>
    </div>
</footer>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/navigation.js"></script>
<!--<script src="js/index_products.js"></script>-->
<!--<script src="js/basket.js"></script>-->
</body>
</html>
